# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
install-sh
missing
depcomp
Makefile.in
aclocal.m4
autom4te.cache
Makefile
config.h
config.h.in
config.log
config.status
configure
.deps
stamp-h1

# Documentation
macchanger.info
stamp-vti
version.texi

# Misc
*~
